html {
    margin: auto 50px;
}

header img {
    position: relative;
}

header button {
    background-color: rgb(202, 198, 198);
    Font-Size: 11px;
}


header {
    background-color: whitesmoke;
    text-align: center;
    border-bottom: 1px dotted #000;
    text-decoration: none;
    /*Linea*/

}


#menu ul {
    /*Menu*/

    width: 500px;
    list-style: none;
    /*Menu*/
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: black;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #c95555;
}

#menu {

    display: inline-block;
    position: relative;
    text-align: right;

}

/*fin header*/
#es1 {
    text-align: center;
    padding: 70px;
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

#es1 h1 {
    font-size: 16px;
    font-weight: bold;
}

#es1 h1 {
    padding: 10px;
}

/*seccion1*/
#seccion1 {  
    text-align: center;
}

#seccion1 h6 {
    position: relative;
    bottom: 120px;
    display: inline-block;
  
}

#seccion1 p {
    position: relative;
    right: 90px;
    bottom: 90px;
    display: inline-block;
    
}

#seccion2 {
    
    text-align: center;
}

#seccion2 h6 {
    position: relative;
    bottom: 120px;
    display: inline-block;
    
}

#seccion2 p {
    position: relative;
    right: 110px;
    bottom: 90px;
    display: inline-block;   
}
/**/
#seccion3 {
    
    text-align: center;
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

#seccion3 h6 {
    position: relative;
    bottom: 120px;
    display: inline-block;
    
}

#seccion3 p {
    position: relative;
    right: 110px;
    bottom: 90px;
    display: inline-block;   
}
/*footer*/
#menu2 ul {
    /*Menu*/
    list-style: none;
    margin: 30px auto;
    padding: 0;
    width: 500px;
    /*Menu*/
}

#menu2 ul li {
    display: inline-block;
}

#menu2 ul li a {
    color: black;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #c95555;
}

#menu2 {
    position: relative;
    text-align: center;
}

footer p {
    text-align: center;
    Padding: 10px;
}
