html {
    margin: auto 50px;
}

header img {
    position: relative;
}

header button {
    background-color: rgb(202, 198, 198);
    Font-Size: 11px;
}


header {
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 1px dotted #000;
    text-decoration: none;
    /*Linea*/

}


#menu ul {
    /*Menu*/

    width: 500px;
    list-style: none;
    /*Menu*/
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: black;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #c95555;
}

#menu {

    display: inline-block;
    position: relative;
    text-align: right;

}
/*fin header*/

.seccio1 h1{
   font-size: 16px;
   font-weight: bold;
   position: relative;
   left: 400px;
   bottom: 500px;
}
.seccio1 p{ 
    padding: 10px;
    position: relative; 
    left: 400px;
    bottom: 500px;
    text-decoration: underline;
 }
 #a1{
    text-decoration: none;
 }
 #a2{
    text-decoration: none;
 }
 .seccio1 h2{
    position: relative;
   
    left: 400px;
    bottom: 500px;
    font-size: 14px;
    font-weight: bold;
 }
 .seccio1 h3{
    position: relative;
   
    left: 400px;
    bottom: 500px;
    font-size: 14px;
    font-weight: bold;
 }
 .seccio1 button{
    position: relative;  
    left: 400px;
    bottom: 410px;
    font-size: 11px;
    font-weight: bold;   
    padding: 10px;
    color: aliceblue;
    background-color: grey;
 }
 #linea{
    border-bottom: 1px dotted #000;
    text-decoration: none;
    position: relative;
    bottom: 400px;
 }
 #lin{
    text-decoration: underline;
      
  }
 /*footer*/
#menu2 ul {
    /*Menu*/
    list-style: none;
    margin: 30px auto;
    padding: 0;
    width: 500px;
    /*Menu*/
}

#menu2 ul li {
    display: inline-block;
}

#menu2 ul li a {
    color: #c95555;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

#menu2 {
    position: relative;
    text-align: center;
}

footer p {
    text-align: center;
    Padding: 10px;
}
footer{
    position: relative;
    bottom: 350px;
}
